@use "./style/button.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
#root {
    height: 100%;
    width: 100%;
    background-color: #161616;
    color: whitesmoke
}

.highlight{
    color: #d20d3b;
}